# SPDX-FileCopyrightText: 2025 Upbound Inc. <https://upbound.io>
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: dataform.gcp-beta.upbound.io/v1beta1
kind: RepositoryReleaseConfig
metadata:
  annotations:
    meta.upbound.io/example-id: dataform/v1beta1/repositoryreleaseconfig
  labels:
    testing.upbound.io/example-name: release-config
  name: release-config
spec:
  forProvider:
    gitCommitish: main
    region: us-central1
    repositorySelector:
      matchLabels:
        testing.upbound.io/example-name: repository-release-config

---

apiVersion: dataform.gcp-beta.upbound.io/v1beta1
kind: Repository
metadata:
  annotations:
    meta.upbound.io/example-id: dataform/v1beta1/repositoryreleaseconfig
  labels:
    testing.upbound.io/example-name: repository-release-config
  name: repository-release-config
spec:
  forProvider:
    gitRemoteSettings:
      defaultBranch: main
      url: "https://github.com/martinflemingdev/gcp-dataform-public-sandbox.git"
    region: us-central1
